.classpath
.project
.settings/
**/target/**
.metadata/
.recommenders/
*.orig
**/*.log
**/node_modules/*
**/build
**/node
/target/
.idea
*.DS_Store
**/coverage
**/.sonar
**/jest/jest-transform-cache-*
**/jest/-usr*
**/jest/perf-cache*
ui-fragment/p14c-population-selector-*.tgz
rebel.xml
rebel-remote.xml
integration-results
